html, body {
    scroll-behavior: smooth;
    filter: brightness(100%);
}

.daw-icon {
    margin-left: 10px;
    margin-top: 10px;
    width: 10px;
    height: 10px;
}

body {
    background-image: url(main-bg2.png);
    background-size: cover;
    padding: 0px;
}
.optext {
    
    text-align: center; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;     
    color: antiquewhite; 
    margin-left: 230px; 
    margin-right: 230px; 
    padding: 20px; 
    line-height: 2; 
    font-size: 20px;
}

#iconselect {
    text-align: center;
}


nav {
    width: 120%;
    position: fixed;
    display: flex;
    text-decoration: none;
    align-items: center;
    height: 60px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 12px rgb(0 0 0 / 20%);
    padding: 0px 5%;
    z-index: 0;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li a{
    margin: 30px;
    font-family: calibri;
    font-weight: lighter;
    font-size: 15px ;
    
}



